body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: floralwhite;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(150, 225, 248);
    border-radius: 10px;
    margin: 10px;
}
.logo {
    font-size: 22px;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.menu a:hover {
    color: #004aad;
    text-decoration: underline;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.hero-left {
    width: 50%;
}
.hero-left h2 {
    font-size: 32px;
}
.hero-left h3 {
    color: #333;
}
.hero-left p {
    max-width: 500px;
    line-height: 1.6;
}
.hero-img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(150, 225, 248);
    padding: 8px;
}
.box {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(244, 241, 246);
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
.box:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.section {
    margin: 60px 40px;
}
.section h1 {
    margin-bottom: 20px;
}
.skills {
    background-color: rgb(150, 225, 248);
    padding: 30px;
    border-radius: 20px;
}
.skill-list h5 {
    background-color: floralwhite;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.cert-link {
    text-decoration: none;
    background-color: rgb(150, 225, 248);
    padding: 12px 20px;
    border-radius: 10px;
    color: black;
}
.contact a {
    text-decoration: none;
    color: #004aad;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(150, 225, 248);
    border-radius: 10px;
    margin: 20px;
}
